<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>你好，我是陈老师，有什么问题？</string>
		<key>time</key>
		<string>12.11</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>老师你好，我有问题请教。</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>我想问类是什么意思？</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>desc</key>
		<string>类是具有相同属性和行为的对象的抽象。</string>
		<key>time</key>
		<string>12.13</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>类图描述的是系统的静态系统。</string>
		<key>time</key>
		<string>12.14</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>还有类图中的结点又代表什么？</string>
		<key>time</key>
		<string>12.15</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>那是表示系统中类及其属性和操作。</string>
		<key>time</key>
		<string>12.17</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>那类图中的边是表示类之间的联系吗？</string>
		<key>time</key>
		<string>12.20</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>还有，就是要形成良好的程序设计风格，我应该注意什么？</string>
		<key>time</key>
		<string>12.20</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>是的。良好的程序设计风格应从源程序文档化，数据说明，语句构造等当面入手。</string>
		<key>time</key>
		<string>12.25</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_4</string>
		<key>desc</key>
		<string>请问UML中描述软件系统的功能的图是哪个？</string>
		<key>time</key>
		<string>12.27</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>是用例图</string>
		<key>time</key>
		<string>12.32</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>wd_man</string>
		<key>desc</key>
		<string>用例图展示了用例之间以及同用例参与者之间是怎样的相互联系的。</string>
		<key>time</key>
		<string>12.32</string>
		<key>person</key>
		<true/>
	</dict>
</array>
</plist>
